<header role="banner">
    <nav class="navbar navbar-expand-md navbar-light bg-white absolute-top">
        <div class="container">

            <a class="navbar-brand mx-auto" routerLink="/home" routerLinkActive="active">letterer</a>

            <div *ngIf="!user" class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="user" class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <span dropdown>
                            <a href id="basic-link" dropdownToggle class="nav-link" (click)="false" aria-controls="basic-link-dropdown"><img
                                    ngxGravatar [email]="user.email" size="32"></a>
                            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                                aria-labelledby="basic-link">
                                <li>
                                    <div class="dropdown-item disabled">{{ user.name ? user.name : user.userName }}</div>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/profile', '@' + user.userName]" routerLinkActive="active">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/settings" routerLinkActive="active">Settings &amp; Privacy</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/help" routerLinkActive="active">Help</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a routerLink="" class="dropdown-item" (click)="signOut()">Sign out</a>
                                </li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>