<header role="banner">
    <nav class="navbar navbar-expand navbar-light bg-white absolute-top">
        <div class="container">

            <a class="navbar-brand mx-auto" routerLink="/home" routerLinkActive="active">letterer</a>

            <div *ngIf="!user" class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/login" routerLinkActive="active" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" routerLinkActive="active" class="nav-link">Register</a>
                    </li>
                </ul>
            </div>

            <div *ngIf="user" class="navbar-collapse collapse" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li *ngIf="isPublishStoryActionVisible()" class="nav-item pt-2 pr-2">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-light btn-sm" (click)="onPublishStory()">Publish</button>
                            <button id="button-split" type="button" dropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
                                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onPublishStory()">Publish</a></li>
                                <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onDeleteStory()">Delete</a></li>
                            </ul>
                        </div>
                    </li>
                    <li *ngIf="isEditStoryActionVisible()" class="nav-item pt-2 pr-2">
                            <div class="btn-group" dropdown>
                                <button type="button" class="btn btn-light btn-sm" (click)="onEditStory()">Edit</button>
                                <button id="button-split" type="button" dropdownToggle class="btn btn-light btn-sm dropdown-toggle dropdown-toggle-split" aria-controls="dropdown-split">
                                    <span class="caret"></span>
                                    <span class="sr-only">Split button!</span>
                                </button>
                                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-split">
                                    <li role="menuitem"><a class="dropdown-item cursor-pointer" routerLink="/stories/new">Write new story</a></li>
                                    <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onDeleteStory()">Delete</a></li>
                                </ul>
                            </div>
                        </li>
                    <li *ngIf="isNewStoryActionVisible()" class="nav-item pt-1">
                        <a routerLink="/stories/new" class="nav-link">Write new story</a>
                    </li>
                    <li class="nav-item dropdown">
                        <span dropdown>
                            <a href id="basic-link" dropdownToggle class="nav-link" (click)="false" aria-controls="basic-link-dropdown">
                                <app-gravatar [size]="32" [emailHash]="user.gravatarHash"></app-gravatar>
                            </a>
                            <ul id="basic-link-dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="basic-link">
                                <li>
                                    <div class="dropdown-item disabled">{{ user.name ? user.name : user.userName }}</div>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item" routerLink="/stories">Stories</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a class="dropdown-item" [routerLink]="['/profile', '@' + user.userName]">Profile</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/settings">Settings &amp; Privacy</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" routerLink="/help">Help</a>
                                </li>
                                <div class="dropdown-divider"></div>
                                <li>
                                    <a routerLink="" class="dropdown-item" (click)="signOut()">Sign out</a>
                                </li>
                            </ul>
                        </span>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>