<div *ngIf="isResetPasswordMode() || isSubmittingMode()" class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

        <h1 class="text-center pt-4">Set new password</h1>
        <h6 class="text-center pb-4 text-muted">
            Enter the new password to your account,
            this page will be available for you only for 10 minutes.
        </h6>

        <form name="form" (ngSubmit)="f.form.valid && passwordIsValid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <app-password [(passwordText)]="resetPassword.password"  (passwordValid)="passwordValid($event)" [form]="f"></app-password>
            </div>

            <button type="submit" [disabled]="isSubmittingMode()" class="btn btn-primary">Save password <i *ngIf="isSubmittingMode()" class="fas fa-spinner fa-spin"></i></button>
        </form>

    </div>
</div>


<div *ngIf="isSuccessMode()" class="row">
    <div class="col-md-8 mx-auto">

        <h1><i class="fas fa-check-circle"></i> Password has been changed</h1>
        <p>
            Your password has been changed.
            You can try to <a routerLink="/login">login</a> to the system now.
        </p>
    </div>
</div>