<div *ngIf="isResetPasswordMode() || isSubmittingMode()" class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

        <h1 class="text-center pt-4">Set new password</h1>
        <h6 class="text-center pb-4 text-muted">
            Please enter the new password to your account,
            this page will be available for you only for 10 minutes.
        </h6>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="resetPassword.password" #password="ngModel" required minlength="8" maxlength="32" pattern="^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,}$"
                    [ngClass]="{ 'is-invalid': f.submitted && password.invalid }">
                <div *ngIf="password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.required">Password is required.</div>
                    <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
                    <div *ngIf="password.errors.maxlength">Password must be lower or equal then 32
                        characters long.</div>
                    <div *ngIf="password.errors.pattern">Password must contains at least one lowercase
                        letter, one uppercase letter and number or symbol.</div>
                </div>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-32 characters long and must include: at least one lowercase
                    letter, one uppercase letter, and a number or symbol.
                </small>
            </div>

            <button type="submit" [disabled]="isSubmittingMode()" class="btn btn-primary">Save <i *ngIf="isSubmittingMode()" class="fas fa-spinner fa-spin"></i></button>
        </form>

    </div>
</div>


<div *ngIf="isSuccessMode()" class="row">
    <div class="col-md-8 mx-auto">

        <h1><i class="fas fa-check-circle"></i> Password has been changed</h1>
        <p>
            Your password has been changed.
            You can try to <a routerLink="/login">login</a> to the system now.
        </p>
    </div>
</div>