<label class="w-100" for="password">Password
    <small class="form-text text-muted">
        <div class="row">
            <div class="col-sm">
                <i [class]="(passwordModel.invalid && passwordModel.errors.appPassword.length) ? 'fas fa-circle mr-1' : 'fas fa-circle mr-1 text-success'"></i>
                Between 8 and 32 characters long</div>
            <div class="col-sm">
                <i [class]="(passwordModel.invalid && passwordModel.errors.appPassword.lowercase) ? 'fas fa-circle mr-1' : 'fas fa-circle mr-1 text-success'"></i>
                One lowercase letter</div>
        </div>
        <div class="row">
            <div class="col-sm">
                <i [class]="passwordModel.invalid && passwordModel.errors.appPassword.uppercase ? 'fas fa-circle mr-1' : 'fas fa-circle mr-1 text-success'"></i>
                One uppercase letter
            </div>
            <div class="col-sm">
                <i [class]="(passwordModel.invalid && passwordModel.errors.appPassword.symbol) ? 'fas fa-circle mr-1' : 'fas fa-circle mr-1 text-success'"></i>
                Number or symbol
            </div>
        </div>
    </small>
</label>
<div class="input-group">
    <input [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" id="password" name="password" [(ngModel)]="passwordText" #passwordModel="ngModel" (ngModelChange)="passwordChanged()" [ngClass]="{ 'is-invalid': form.submitted && passwordModel.invalid }"
        appPassword />
    <div class="input-group-append cursor-pointer" (click)="togglePassword()">
        <span class="input-group-text"><i [class]="isPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i></span>
    </div>
    <div *ngIf="passwordModel.invalid" class="invalid-feedback">
        <div>Your password have to fullfil above requirements.</div>
    </div>
</div>