<div *ngIf="isForgotPasswordMode() || isSubmittingMode()" class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

        <h1 class="text-center pt-4">Reset your password</h1>
        <h6 class="text-center pb-4 text-muted">
            Please enter the email address associated with your account,
            and we'll email you a link to reset your password.
        </h6>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" [(ngModel)]="forgotPassword.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                <div *ngIf="email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required.</div>
                    <div *ngIf="email.errors.pattern">Email format is invalid.</div>
                </div>
            </div>

            <button type="submit" [disabled]="isSubmittingMode()" class="btn btn-primary">
                Send reset link <i *ngIf="isSubmittingMode()" class="fas fa-spinner fa-spin"></i>
            </button>
        </form>

        <hr />

        <div>
            You don't have an account yet? Don't worry,
            you can create a new account <a routerLink="/register">here</a>.
        </div>

    </div>
</div>


<div *ngIf="isSuccessMode()" class="row">
    <div class="col-md-8 mx-auto">

        <h1><i class="fas fa-envelope"></i> Check your email</h1>
        <p>
            We've sent you a link to reset your password. Please check your inbox.
            It could take up to 10 minutes to show up in your inbox.
        </p>
    </div>
</div>


<div *ngIf="isUserNotExistsMode()" class="row">
    <div class="col-md-8 mx-auto">

        <h1><i class="fas fa-grimace"></i> User not exists</h1>
        <p>
            Are you sure you created an account at the given address?
            Check if you have entered the correct address.
            You can try <a [routerLink]="" (click)="resetMode()">again</a>.
        </p>
    </div>
</div>