<div *ngIf="!isSuccessMode()" class="row">
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">

        <h1 class="text-center pt-4 pb-4">Register</h1>

        <form name="form" (ngSubmit)="f.form.valid && passwordIsValid && onSubmit()" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="userName">User name <i *ngIf="userName.pending" class="fas fa-spinner fa-spin"></i></label>
                <input type="text" class="form-control" name="userName" [(ngModel)]="user.userName" #userName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && userName.invalid }" required pattern="^[a-zA-Z0-9]*$"
                    appUniqueUserName />
                <div *ngIf="userName.invalid" class="invalid-feedback">
                    <div *ngIf="userName.errors.required">Enter user name.</div>
                    <div *ngIf="userName.errors.pattern">Only alphanumeric characters are allowed in user name.</div>
                    <div *ngIf="userName.errors.appUniqueUserName">Choose a different user name, this one is already taken.</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email <i *ngIf="email.pending" class="fas fa-spinner fa-spin"></i>
                    <small id="userNameHelpBlock" class="form-text text-muted">
                        Don't worry. This info is sacred for us. We won't ever show, sell or abuse it.
                    </small>
                </label>
                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                    appUniqueEmail />
                <div *ngIf="email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Enter email.</div>
                    <div *ngIf="email.errors.pattern">Verify that you've entered proper email.</div>
                    <div *ngIf="email.errors.appUniqueEmail">Choose other email, this one is already connected to different account.</div>
                </div>
            </div>
            <div class="form-group">
                <app-password [(passwordText)]="user.password" (passwordValid)="passwordValid($event)" [form]="f"></app-password>
            </div>

            <button type="submit" [disabled]="isSubmittingMode()" class="btn btn-primary">Register <i *ngIf="isSubmittingMode()" class="fas fa-spinner fa-spin"></i></button> <span *ngIf="isErrorMode()" class="text-danger ml-4">{{
                errorMessage }}</span>
        </form>
    </div>
</div>

<div *ngIf="isSuccessMode()" class="row">
    <div class="col-md-8 mx-auto">

        <h1><i class="fas fa-envelope"></i> Welcome to letterer.me!</h1>
        <p>
            <strong>Congratulations!</strong> Your letterer.me account has been successfully created.
            We've sent you a link to confirm your email address. Please check your inbox.
            It could take up to 10 minutes to show up in your inbox.
        </p>
        <p>
            In the meantime, you can go back to the <a routerLink="/home">homepage</a>.
        </p>
    </div>
</div>