<main *ngIf="isRegisterMode() || isSubmittingMode()" class="main pt-4" role="main">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <article class="card mb-4">
                    <header class="card-header text-center">
                        <h1 class="card-title">Register</h1>
                    </header>
                    <div class="card-body">

                        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" name="email" [(ngModel)]="user.email" #email="ngModel"
                                    [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" />
                                <div *ngIf="email.invalid" class="invalid-feedback">
                                    <div *ngIf="email.errors.required">Email is required.</div>
                                    <div *ngIf="email.errors.pattern">Email format is invalid.</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
                                    #password="ngModel" required minlength="8" maxlength="32" pattern="^(?:(?=.*[a-z])(?:(?=.*[A-Z])(?=.*[\d\W])|(?=.*\W)(?=.*\d))|(?=.*\W)(?=.*[A-Z])(?=.*\d)).{8,}$"
                                    [ngClass]="{ 'is-invalid': f.submitted && password.invalid }">
                                <div *ngIf="password.invalid" class="invalid-feedback">
                                    <div *ngIf="password.errors.required">Password is required.</div>
                                    <div *ngIf="password.errors.minlength">Password must be at least 8 characters long.</div>
                                    <div *ngIf="password.errors.maxlength">Password must be lower or equal then 32
                                        characters long.</div>
                                    <div *ngIf="password.errors.pattern">Password must contains at least one lowercase
                                        letter, one uppercase letter and number or symbol.</div>
                                </div>
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-32 characters long and must include: at least one lowercase
                                    letter, one uppercase letter, and a number or symbol.
                                </small>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" name="name" maxlength="50"
                                    [(ngModel)]="user.name">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location" name="location" maxlength="50"
                                    [(ngModel)]="user.location">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" id="website" name="website" maxlength="50"
                                    [(ngModel)]="user.website">
                            </div>

                            <div class="form-group">
                                <label for="bio">Biography</label>
                                <textarea class="form-control" id="bio" rows="4" name="bio" maxlength="200" [(ngModel)]="user.bio"></textarea>
                            </div>

                            <button type="submit" [disabled]="isSubmittingMode()" class="btn btn-primary">Register <i *ngIf="isSubmittingMode()"
                                    class="fas fa-spinner fa-spin"></i></button> <span *ngIf="isErrorMode()" class="text-danger ml-4">Unexpected error occured. Please try again.</span>
                        </form>

                    </div>
                </article>

            </div>
        </div>
    </div>

</main>

<main *ngIf="isUserExistsMode()" class="main pt-4" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <h1><i class="fas fa-hand-paper"></i> User exists</h1>
                <p>
                    User with email that you entered exists in the system. If this account is yours you can <a
                        routerLink="/login">login</a> to the system. If you forgot your password you can use <a
                        routerLink="/forgot-password">page</a> where you can reset your password.
                </p>
            </div>
        </div>
    </div>
</main>

<main *ngIf="isSuccessMode()" class="main pt-4" role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <h1><i class="fas fa-check-circle"></i> Account created</h1>
                <p>
                    <strong>Congratulations!</strong> Your account has been created. There is only one further step.
                    Check your email and activate your account by clicking hyperlink in the message. Thank you!
                </p>
                <p>
                    In the meantime, you can go back to the <a routerLink="/home">homepage</a>.
                </p>
            </div>
        </div>
    </div>
</main>