<tabset>
    <tab heading="Editor" id="tab1">
        <div class="mt-4">
            <app-editor [storyTitle]="storyTitle" (storyTitleChange)="storyTitleChanged($event)" [(storyText)]="storyText" (storyTextChange)="storyTextChanged($event)"></app-editor>
        </div>
    </tab>
    <tab heading="Files" id="tab2">
        <div class="mt-4">
            <app-files></app-files>
        </div>
    </tab>
    <tab heading="Preview" id="tab3">
        <div class="mt-4">
            <app-preview [storyTitle]="storyTitle" [storyText]="storyText"></app-preview>
        </div>
    </tab>
</tabset>