<div class="media mb-5">
    <img class="align-self-start mr-3" src="https://source.unsplash.com/random/160x160?sig={{ index }}" width="160" height="160" 
    alt="Generic placeholder image">
    <div class="media-body">
        <div class="row">
            <div class="col">
                <span class="text-muted text-lowercase font-weight-light mb-1">
                    PROGRAMMING · SWIFT · APPLE
                </span>
            </div>
            <div class="col-md-auto">
                <img width="20px" src="assets/claps.svg" /> 
                <span class="text-muted text-lowercase font-weight-light mb-1" style="line-height: 17px; vertical-align: bottom;">
                    12 claps
                </span>
            </div>
        </div>
        <h5 class="mt-0">Lorem ipsun fusce condimentium</h5>
        <p class="text-muted">
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. 
            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi
            vulputate fringilla. Donec lacinia congue felis in faucibus.
        </p>
        <div>
            <div class="float-left">Matt Bartlett</div>
            <div class="float-right">Nov 18 · 5 min read</div>
        </div>
    </div>
</div>