<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 mx-auto">
        <!-- <form name="form" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="title" style="color: #c1c1c1; font-weight: 200">title</label>
                <div id="title" class="story-title" name="title" contenteditable="true" spellcheck="true" role="textbox" aria-multiline="true" data-placeholder="title of your story..." (blur)="titleChanged()" [(ngModel)]="title"></div>
            </div>

            <div class="form-group">
                <label for="title" style="color: #c1c1c1; font-weight: 200">your story</label>
                <app-text-editor [(model)]="text" placeholder="enter your story here..."></app-text-editor>
            </div>
        </form> -->
        <app-markdown-editor [(storyTitle)]="title" [(storyText)]="text"></app-markdown-editor>
    </div>
</div>

<ng-template #publishStoryModal>
    <form name="form" (ngSubmit)="publishStoryForm.form.valid && onPublishStoryModal()" #publishStoryForm="ngForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Publish story</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="publishStoryModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-text text-danger mb-3">Are you sure you want to delete your account. Please be careful this operation is irreversible.</div>
            <div class="form-group">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="publishStoryModalRef.hide()">Cancel</button>
            <button type="submit" class="btn btn-danger">Publish story</button>
        </div>
    </form>
</ng-template>

<ng-template #deleteStoryModal>
    <form name="form" (ngSubmit)="deleteStoryForm.form.valid && onDeleteStoryModal()" #deleteStoryForm="ngForm" novalidate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Delete story</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="deleteStoryModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-text text-danger mb-3">Are you sure you want to delete story. Please be careful this operation is irreversible.</div>
            <div class="form-group">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" (click)="deleteStoryModalRef.hide()">Cancel</button>
            <button type="submit" class="btn btn-danger">Delete story</button>
        </div>
    </form>
</ng-template>