<main class="main pt-4" role="main">

    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">

                <article class="card mb-4">
                    <header class="card-header text-center">
                        <h1 class="card-title">Register</h1>
                    </header>
                    <div class="card-body">

                        <form>

                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" placeholder="Email address">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password">
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Your password must be 8-20 characters long, contain letters and numbers, and must
                                    not contain spaces, special characters, or emoji.
                                </small>
                            </div>

                            <hr />

                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="location">Location</label>
                                <input type="text" class="form-control" id="location" placeholder="Location">
                            </div>
                            <div class="form-group">
                                <label for="website">Website</label>
                                <input type="text" class="form-control" id="website" placeholder="Website">
                            </div>

                            <div class="form-group">
                                <label for="biography">Biography</label>
                                <textarea class="form-control" id="biography" rows="4" placeholder="Biography"></textarea>
                            </div>

                            <button type="button" class="btn btn-primary">Register</button>
                        </form>

                    </div>
                </article>

            </div>
        </div>
    </div>

</main>